<div class="container dashboard-body">
  <div class="container-fluid">
    
    <div class="row">
        <main class="col-sm-12 col-md-12 pt-3" role="main">
            <h1>Panel Administración</h1>
            <section class="row text-center placeholders">
                <div class="col-6 col-sm-3 placeholder">
                    <img src="../img/tomates.jpg" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                    <h4>Top Ventas</h4>
                    <div class="text-muted">Última semana</div>
                </div>
                <div class="col-6 col-sm-3 placeholder">
                    <img src="../img/users/user5.jpg" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                    <h4>Top Buyer</h4>
                    <span class="text-muted">Última semana</span>
                </div>
                <div class="col-6 col-sm-3 placeholder">
                    <img src="../img/olivas2.jpg" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                    <h4>Menos Vendido</h4>
                    <span class="text-muted">Último mes</span>
                </div>
                <div class="col-6 col-sm-3 placeholder">
                    <img src="../img/mango.jpg" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                    <h4>Poco Stock</h4>
                    <span class="text-muted">Último día</span>
                </div>
            </section>
            <h2>Listado de Pedidos</h2>
            
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Orden Nr.</th>
                            <th>Usuario</th>
                            <th>Dirección</th>
                            <th>Fecha Pedido</th>
                            <th>Fecha Entrega</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1,001</td>
                            <td>Lorem</td>
                            <td>ipsum</td>
                            <td>dolor</td>
                            <td>sit</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>amet</td>
                            <td>consectetur</td>
                            <td>adipiscing</td>
                            <td>elit</td>
                        </tr>
                        <tr>
                            <td>1,003</td>
                            <td>Integer</td>
                            <td>nec</td>
                            <td>odio</td>
                            <td>Praesent</td>
                        </tr>
                        <tr>
                            <td>1,015</td>
                            <td>sodales</td>
                            <td>ligula</td>
                            <td>in</td>
                            <td>libero</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    
    </div>

  </div>
</div>
