.shop-top {
  background-color: #16a085;
}

.shop-top a{
  color:white;
}

.shop-top a:hover{
  background-color: #1abc9c
}

.hamburger {
  float: left;
  margin-left: 15px;
  border:none;
}

.top-head{
  border-color:transparent;
  background-color: #16a085;
}

.top-head a{
  color:white;
}

.nav.navbar-nav li a {
   color: white#;
 }

.nav.navbar-nav a:hover {
 color: grey;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-brand{
  color:white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a{
  color:white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #CAF7DA;
    background-color: #1abc9c;
}

.navbar {
    border-radius: 0;
}
