/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
/*body {
  padding-top: 3.5rem;
}*/

/*
 * Typography
 */

.dashboard-body h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
  text-align:center;
  font-size: 190%;
}

/* .dashboard-body .navbar-brand img{
  width: 100px;
}*/

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


@media (min-width: 989px){
  .sidebar{
    top:99px;
  }
}

@media (min-width: 460px){
  .dashboard-body h1 {
    text-align: left;
    font-size: 2.2rem;
  }

}