
body{
  margin-top:55px;
}

header .navbar-dark{
  /*background-color: #55d6aa!important;*/
  box-shadow: 0 0 4px rgba(0,0,0,.14);
}

.fixed-top{
    padding: 0 16px;
}

.fixed-top img{
  height: 45px;
}

.fixed-top li{
  margin-right: 5%;
}

.navbar-list > ul > li > a{
  padding-top:28px;
  padding-bottom:28px;
}

.navbar-list > ul > li > a:hover,
.navbar-list > ul > li > a:focus{
  background: #21b89e;
}

.navbar-admin-link{
  width: 120%;
}

.navbar-admin-dropdown{
  background: #807A7A;
  border-radius: 0;
}

.navbar-admin-dropdown a{
  color:white;
}


.jumbotron{
  background-image: url('../img/backgrounds/verduleria.jpg');
  background-size: cover;
  background-position: center;
}

.jumbotron .input-group{
  padding: 2% 3%;
}

.jumbotron h1{
  font-size: 273%;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;}

.jumbotron .btn-secondary{
  border:none;
}

.jumbotron .bg-dark {
  opacity: 0.9;
}

.card{
  min-width: 200px;
  max-width: 260px;
  margin-bottom:15px;
}

.card-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-footer .img{
  min-height: 100%;
}

.form-signin input{
  margin-bottom:10px;
}

.modal-content{
  background: #eee;
}

.btn-signup{
  width: 100%;
}


@media (min-width: 989px){
  body{
    margin-top: 99px;
  }

  .fixed-top{
    padding: 8px 16px;
  }

  .fixed-top img{
    height: 100%;
  }

  .sidebar{
    top:55px;
  }

}


/* ===== PRODUCT DETAILS ===== */

.quantity-selector{
    width: 150px;
    margin: 15px auto;
  }

  .details-right *{
    text-align: center;
  }

  .btn-add-to-cart{
    width: 150px;
    text-align: center;
  }

  .picture-left img{
    /*max-width: 444px;*/
    height: auto;
    margin:1px auto;
  }

  .product-details .action{
    margin-bottom: 15px;
  }

  @media (min-width: 991px){
    .picture-let{
      flex-direction: row;
    }
    .quantity-selector{
      width: 150px;
      margin: 15px 0;
    }

    .details-right * {
      text-align:left;
    }

    .btn-add-to-cart{
    text-align: center;
    }

    .picture-left img{
      max-width: 100%;
      height: auto;
    }
  }


  .checkout-last-row .custom-select{
    width: 100%;
  }

  .hidden{
    display:none;
  }

  /*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
/*body {
  padding-top: 3.5rem;
}*/

/*
 * Typography
 */

.dashboard-body h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
  text-align:center;
  font-size: 190%;
}

/* .dashboard-body .navbar-brand img{
  width: 100px;
}*/

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 576px){
  .modal-dialog-cart {
    max-width: 95%;
  }
}

@media(max-width: 780px){
  .media-object{
    display:none;
  }
  .media-body{
    font-size:1rem;
  }
  #modal-cart .modal-body{
    padding-left: 2px;
    padding-right: 2px;
  }
}

@media (min-width: 989px){
  .sidebar{
    top:99px;
  }
}

@media (min-width: 460px){
  .dashboard-body h1 {
    text-align: left;
    font-size: 2.2rem;
  }

}


/* === UPLOAD AND EDIT CHOOSE FILE PARAMS === */

.custom-file-control:lang(en)::before {
  content:"Buscar";
}
.custom-file-control:lang(en):empty::after {
  content: "Elegir Foto";
}
.custom-file-control::before {
  color: #f8f9fa;
  background-color: #004085;
}


/*==== UPLOAD ===*/
.upload-form{
  padding-left: 0px;
  padding-right: 0px;
}

.upload-button{
  width:100%;
  margin-top: 15px;
}

.upload-details{
  height: 186px;
}

.upload-header{
  background: #28a745;
}
.upload-header h1{
  color:white;
  padding:15px;
}

.upload-form{
  padding-left: 0px;
  padding-right: 0px;
}

.group-upload-details{
  /*padding-bottom:15px;*/
  margin-bottom:7px;
}

.group-upload-title{
  margin-top:16px;
}

.select-upload{
  width:100%;
}

.group-upload-stock{
  width: 100%;
}

@media(min-width: 768px){
  .group-upload-title{
    margin-top:0;
  }
  .upload-form{
    padding:15px;
  }  
}

/* === EDIT ITEM ===*/

.edit-form{
  padding-left: 0px;
  padding-right: 0px;
}

.edit-btn{
  width: 38px;
  /*display: none;
  position: absolute;
  top: 65px;
  right: 6px;*/
}

.edit-button{
  width:100%;
  margin-top: 15px;
}

.edit-details{
  height: 186px;
}

.edit-header{
  background: #ffc107;
}
.edit-header h1{
  color:white;
  padding:15px;
}

.edit-form{
  padding-left: 0px;
  padding-right: 0px;
}

.group-edit-details{
  /*padding-bottom:15px;*/
  margin-bottom:7px;
}

.group-edit-title{
  margin-top:16px;
}

.select-edit{
  width:100%;
}

.group-edit-stock{
  width: 100%;
}

@media(min-width: 768px){
  .group-edit-title{
    margin-top:0;
  }
  .edit-form{
    padding:15px;
  }  
}



/* ==== FOOTER STYLES === */

.footer-top-layout {
  background: #1c1c1c none repeat scroll 0 0;
  color: #ffffff;
  padding: 40px 0;
}
.OurBlog {
  margin-bottom: 32px;
  text-align: center;
}
.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.OurBlog > p {
  color: #888888;
}
.post-blog-date::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 50px;
}
.post-blog-date {
  padding-bottom: 25px;
  position: relative;
}

body {
  color: #666666;
  font-family: "Open Sans",sans-serif;
  line-height: 24px;
}

.footer-top-layout [class*="col-sm-"]:first-child {
  padding: 0;
}
.footer-top-layout [class*="col-sm-"] {
  border-right: 2px solid #333333;
  padding: 0 0 0 28px;
  
}
.footer-top-layout {
  color: #ffffff;
}
.footer-col-item {
  min-height: 140px;
}

address {
  color: #545454;
}


.footer-top-layout [class*="col-sm-"]:last-child {
  border-right: medium none;
} 
.footer-top-layout {
  color: #ffffff;
}
body {
  color: #666666;
  font-family: "Open Sans",sans-serif;

}
.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0;
}
body {
  color: #666666;
  font-family: "Open Sans",sans-serif;
  line-height: 24px;
}
.footer-col-item .item-contact a {
  color: #545454;
  display: inline-block;
  margin-bottom: 7px;
  width: 100%;
}

.footer-col-item .item-contact a .link-id {
  color: #ffffff;
  margin-left: 0;
  margin-right: 6px;
}
.footer-col-item span {
  margin-left: 7px;
}
.footer-col-item .item-contact a {
  color: #545454;
}

.footer-top-layout h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
}
.signUpNewsletter {
  position: relative;
}
.signUpNewsletter .gt-email {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #666666;
  border-radius: 0;
  color: #ffffff;
  height: 52px;
}
.signUpNewsletter .btn-go {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: #666666;
  border-style: solid;
  border-width: 0 0 0 1px;
  bottom: 0;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  width: 52px;
}
.footer-bottom-layout {
  background: #222222 none repeat scroll 0 0;
  padding: 20px 0;
  text-align: center;
}
#footer-Section {
  color: #666666;
  font-family: "Open Sans",sans-serif;
  line-height: 24px;
}
.socialMedia-footer {
  margin-bottom: 20px;
}
.socialMedia-footer > a {
  display: inline-block;
  margin: 0 8px;
}
.footer-bottom-layout {
  text-align: center;
}

.footer-middle{
  flex-wrap: wrap;
}

@media (min-width: 989px){
  .footer-middle{
    flex-direction: row!important;
  }
}