<div class="container-fluid text-center upload-header">
  <div class="container d-flex justify-content-around">
  <h1>Crear producto nuevo</h1>
  <button type="button" class="btn btn-outline-light back-button" onclick="history.back()">Atrás</button>
  </div>
</div>

<div class="container product-upload">
  <!-- <div class="card"> -->
    <div class="container-fluid">
      <form class="upload-form">
        <div class="form-row upload-form">
          <div class="col-md-4 picture-left d-flex flex-column">
            <img ng-src="{{newCtrl.image_url}}" class="img-thumbnail" alt="Responsive image">
            <div class="form-group">
              <label class="form-control-label" for="image">Imagen (url) </label>
              <input type="text" name="image_url" ng-model="newCtrl.image_url" class="form-control" id="image" placeholder="URL de Imagen">
            </div>
          </div>
          <div class="details-right col-md-8">
            <div class="form-group">
              <label for="upload-title" class="col-form-label">Titulo</label>
              <input type="text" name="title" class="form-control" id="upload-title" placeholder="Titulo" ng-model="newCtrl.title">
            </div>
            <!-- <p>{{newCtrl.title}}</p> -->
            <div class="form-group group-upload-details">
              <label for="upload-details">Description</label>
              <textarea name="description" class="form-control upload-details" id="upload-details" rows="3" ng-model="newCtrl.description"></textarea>
            </div>
             <div class="form-row">
              <div class="form-group col-md-6">
                <label for="upload-price" class="col-form-label">Price</label>
                <input name="price" type="number" class="form-control" id="upload-price" placeholder="Precio" ng-model="newCtrl.price">
              </div>
              <div class="form-group col-md-4">
                <label for="uomselect" class="col-form-label">Unidad</label>
                <select name="uom" id="uomselect" class="form-control custom-select select-upload" ng-model="newCtrl.uom">
                  <option value="por Kg">por Kg</option>
                  <option value="por Unidad">por Unidad</option>
                  <option value="por Litro">Litro</option>
                  <option value="por Paquete">por Paquete</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="upload-stock" class="col-form-label">Stock</label>
                <input name="stock" type="number" class="form-control" id="upload-stock" ng-model="newCtrl.stock" placeholder="Stock inicial">
              </div>
            </div>
            <!-- <p class="small pull-right">Última modificación: {{newCtrl.product.modifiedDate * 1000 | date:'dd-MM-yyyy'}}</p>    -->     
          </div>
        </div>
        <div class="row">
          <div class="action col-md-12">
            <button type="button" ng-click="newCtrl.uploadProduct()" class="btn btn-success btn-add-to-cart upload-button"><i class="fa fa-upload"></i> 
            Crear Producto Nuevo
            </button>
          </div>
        </div>
      </form>
    </div>
<!--   </div> -->
</div>