<div class="container-fluid text-center edit-header">
<div class="container d-flex justify-content-around">
  <h1>Editar Producto</h1>
  <button type="button" class="btn btn-outline-light back-button" onclick="history.back()">Atrás</button>
  </div>
</div>

<div class="container product-edit">
  <!-- <div class="card"> -->
    <div class="container-fluid">
      <form class="edit-form">
        <div class="form-row edit-form">
          <div class="col-md-4 picture-left d-flex flex-column">
            <img ng-src="{{editCtrl.image_url}}" class="img-thumbnail" alt="Responsive image">
            <div class="form-group">
              <label class="form-control-label" for="image">Imagen (url) </label>
              <input type="text" name="image_url" ng-model="editCtrl.image_url" class="form-control" id="image" placeholder="URL de Imagen">
            </div>
          </div>
          <div class="details-right col-md-8">
            <div class="form-group">
              <label for="edit-title" class="col-form-label">Titulo</label>
              <input type="text" name="title" class="form-control" id="edit-title" placeholder="Titulo" ng-model="editCtrl.title">
            </div>
            <!-- <p>{{editCtrl.title}}</p> -->
            <div class="form-group group-edit-details">
              <label for="edit-details">Description</label>
              <textarea name="description" class="form-control edit-details" id="edit-details" rows="3" ng-model="editCtrl.description">{{editCtrl.product.description}}</textarea>
            </div>
             <div class="form-row">
              <div class="form-group col-md-6">
                <label for="edit-price" class="col-form-label">Price</label>
                <input name="price" type="number" class="form-control" id="edit-price" placeholder="Precio" ng-model="editCtrl.price">
              </div>
              <div class="form-group col-md-4">
                <label for="uomselect" class="col-form-label">Unidad</label>
                <select name="uom" id="uomselect" class="form-control custom-select select-edit" ng-model="editCtrl.uom">
                  <option selected ng-value="editCtrl.uom">{{editCtrl.product.uom}}</option>
                  <option value="por Kg">por Kg</option>
                  <option value="por Unidad">por Unidad</option>
                  <option value="por Litro">Litro</option>
                  <option value="por Paquete">por Paquete</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="edit-stock" class="col-form-label">Stock</label>
                <input name="stock" type="number" class="form-control" id="edit-stock" ng-value="editCtrl.stock" placeholder="Stock inicial">
              </div>
            </div>
            <p class="small pull-right">Última modificación: {{editCtrl.product.modifiedDate | date:'dd-MM-yyyy'}}</p>        
          </div>
        </div>
        <div class="row">
          <div class="action col-md-12">
            <button type="button" ng-click="editCtrl.updateProduct()" class="btn btn-warning edit-button"><i class="fa fa-edit"></i> 
            Aplicar Cambios
            </button>
          </div>
        </div>

      </form>

    </div>
<!--   </div> -->
</div>