doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Shop Localis
    include includes/styles
  body
    //- .container
    include includes/header
    block content
    //- include includes/modal-login
    //- include includes/modal-product-detail
    include includes/modal-cart
    include includes/footer
    include includes/scripts