doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // Chrome, Firefox OS and Opera
    meta(name='theme-color', content='#343a40')
    // Windows Phone
    meta(name='msapplication-navbutton-color', content='#343a40')
    // iOS Safari
    meta(name='apple-mobile-web-app-status-bar-style', content='#343a40')
    title Shop Localis
    include includes/styles
  body
    //- .container
    include includes/header
    //- ng-view
    block content
    include includes/modal-login
    //- include includes/modal-product-detail
    //- include includes/modal-cart
    include includes/footer
    include includes/scripts