footer.foot
  .container.footer-distributed
    .footer-left
      img.footer-logo(src='./img/icons/logo-full.png')
      ul.footer-links
        li
          a(href='#') Inicio
        li
          a(href='#') Blog
        li
          a(href='#') Soy Vendedor
        li
          a(href='#') Sobre Nosotros
        li
          a(href='#') Preguntas Frecuentes
        li
          a(href='#') Contacto
      p.footer-company-name Shop Localis © 2017
    .footer-center
      ul
        li
          i.fa.fa-map-marker.fa-lg.contact-icon
          p Roc Boronat 35, Barcelona, España
        li
          i.fa.fa-phone.fa-lg.contact-icon
          p +54 555 123456
        li
          i.fa.fa-envelope.fa-lg.contact-icon
          a(href='mailto:support@company.com')
            p support@company.com
    .footer-right
      p.footer-company-about
      h3 Sobre Nosotros
      |  Buscamos facilitar tu vida junto a los 
      strong comercios locales
      | .
      p
      ul.footer-icons
        li
          a(href='#')
            i.fa.fa-facebook
        li
          a(href='#')
            i.fa.fa-twitter
        li
          a(href='#')
            i.fa.fa-linkedin
        li
          a(href='#')
            i.fa.fa-github