header
  nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='../')
      img(src='/img/icons/logohorizontal-narrow.png')
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.badge.badge-info.items-in-cart #{cart.length}
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.navbar-list
        li.nav-item
          a.navbar-admin-link(href="/admin/") Administrador
      form.form-inline.my-2.my-lg-0(action='/product/search', method='get')
        input.form-control.mr-sm-2(type='text', name='title' , placeholder='Buscar Producto', aria-label='Search')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Buscar
      a.nav-link.btn.btn-secondary.cart-button.ml-2.mb-sm-3.mb-lg-0.my-2.my-sm-0(href='/cart')
            //- , data-toggle='modal', data-target='#modal-cart')
            span.cart-span.mr-2
              i.fa.fa-shopping-cart
            | Carrito 
            span.badge.badge-danger.items-in-cart-badge #{cart.length}
            span.sr-only Items in cart
