// Modal SHOPPING CART
#modal-cart.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg.modal-dialog-cart(role='document')
          .modal-content
            .modal-header
              h1 Carrito
            .modal-body
              .container
                .row
                  .col-md-12.col-lg-10.mx-md-auto
                    table.table.table-responsive.table-sm.table-hover.table-striped
                      thead.thead-inverse
                        tr
                          th Producto
                          th Quantity
                          th.text-center Price
                          th.text-center Total
                          th  
                      tbody
                        tr
                          td.col-md-8.col-lg-6
                            .media
                              a.thumbnail.float-left(href='#')
                                img.media-object(src='http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png', style='width: 72px; height: 72px;')
                              .media-body
                                h4.media-heading
                                  a(href='#') Un producto
                                //- h5.media-heading
                                //-   | by 
                                //-   a(href='#') Brand name
                                //- span Status: 
                                //- span.text-success
                                //-   strong In Stock
                          td.col-md-1.col-lg-1(style='text-align: center')
                            input#exampleInputEmail1.form-control(type='email', value='3')
                          td.col-md-1.col-lg-1.text-center
                            strong €4.87
                          td.col-md-1.col-lg-1.text-center
                            strong €14.61
                          td.col-md-1.col-lg-1
                            button.btn.btn-danger(type='button')
                              span.fa.fa-times
                              |  Remove
                        tr
                          td.col-lg-6
                            .media
                              a.thumbnail.float-left(href='#')
                                img.media-object(src='http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png', style='width: 72px; height: 72px;')
                              .media-body
                                h4.media-heading
                                  a(href='#') Un producto
                                //- h5.media-heading
                                //-   | by 
                                //-   a(href='#') Brand name
                                //- span Status: 
                                //- span.text-warning
                                //-   strong Leaves warehouse in 2 - 3 weeks
                          td.col-lg-1(style='text-align: center')
                            input#exampleInputEmail1.form-control(type='email', value='2')
                          td.col-lg-1.text-center
                            strong €4.99
                          td.col-lg-1.text-center
                            strong €9.98
                          td.col-lg-1
                            button.btn.btn-danger(type='button')
                              span.fa.fa-times
                              |  Remove
                      tfoot
                        tr
                          td(colspan="3")
                          //- td  
                          //- td  
                          td
                            h5
                              | Subtotal
                          td.text-right
                            h5
                              strong
                                | €24.59
                        tr
                          td(colspan="3")
                          //- td  
                          //- td  
                          td
                            h5
                              | Estimated shipping
                          td.text-right
                            h5
                              small
                                | €6.94
                        tr
                          td(colspan="3")
                          //- td  
                          //- td  
                          td
                            h3
                              | Total
                          td.text-right
                            h5
                              h3 €31.53
            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal')
                              span.fa.fa-shopping-cart
                              |  Continue Shopping
              button.btn.btn-success(type='button')
                              | Checkout 
                              span.fa.fa-arrow-circle-o-right




