extends ../pages/admin

block main
      .admin-home.container
        .row.products-row
          .productbox
            img(src='./img/aguacate.jpg')
            .producttitle
              a.link-to-detail(href='/product_detail.html') Aguacate
            .productprice
              .add-to-cart
                a.btn.btn-edit(id="", href='/edit', role='button')
                    i.fa.fa-edit.fa-2x(aria-hidden='true')
                    | Editar
              .more-info
                a.btn.btn-delete.btn-sm(id="", href='#', type='button', data-toggle='modal', data-target='#myModal')
                    i.fa.fa-trash-o.fa-2x
                    | Eliminar
              .pricetext € 5,70