extends ../layout

block content
      .container-fluid.text-center.upload-header
        .container.d-flex.justify-content-around
          h1 Ingresar datos de Envío
          button.btn.btn-outline-light.back-button(type='button', onclick='history.back()') Atrás
      .container
        form(method='POST' action='/api/orders')
          .form-row
            .form-group.col-md-6
              label.col-form-label(for='input-name') Nombre
              input#input-name.form-control(type='text', name='name', placeholder='NOMBRE')
            .form-group.col-md-6
              label.col-form-label(for='input-lastname') Apellido
              input#input-lastname.form-control(type='text', name='lastName', placeholder='APELLIDO')
            .form-group.col-md-12
              label.col-form-label(for='email') E-mail
              input#input-email.form-control(type='email', name='email', placeholder='e-mail')
          .form-group.direccion1-row
            label.col-form-label(for='input-address') Dirección (calle y puerta)
            input#input-address.form-control(type='text', name='deliveryAddress1', placeholder='Calle y Número de Puerta')
          .form-group.direccion2-row
            label.col-form-label(name='deliveryAddress2', for='input-address2') Dirección 2 (piso, puerta, otros)
            input#input-address2.form-control(type='text', name='deliveryAddress1', placeholder='Piso, Puerta, etc..')
          .form-row.ciudad-provincia-zip-row
            .form-group.col-md-6.ciudad-group
              label.col-form-label(for='input-city') Ciudad
              input#input-city.form-control(type='text', name='city', placeholder='CIUDAD')
            .form-group.col-md-4.provincia-group
              label.col-form-label(for='input-state', placeholder='PROVINCIA') Provincia
              select#input-state.form-control(name='state')
                option(value='') Seleccione...
                option(value='A coruña') A coruña
                option(value='Álava') Álava
                option(value='Albacete') Albacete
                option(value='Alicante') Alicante
                option(value='Almería') Almería
                option(value='Asturias') Asturias
                option(value='Ávila') Ávila
                option(value='Badajoz') Badajoz
                option(value='Baleares') Baleares
                option(value='Barcelona') Barcelona
                option(value='Burgos') Burgos
                option(value='Cáceres') Cáceres
                option(value='Cádiz') Cádiz
                option(value='Cantabria') Cantabria
                option(value='Castellón') Castellón
                option(value='Ceuta') Ceuta
                option(value='Ciudad Real') Ciudad Real
                option(value='Córdoba') Córdoba
                option(value='Cuenca') Cuenca
                //- option(value='Extranjero') Extranjero
                option(value='Girona') Girona
                option(value='Granada') Granada
                option(value='Guadalajara') Guadalajara
                option(value='Guipúzcoa') Guipúzcoa
                option(value='Huelva') Huelva
                option(value='Huesca') Huesca
                option(value='Jaén') Jaén
                option(value='La rioja') La rioja
                option(value='Las palmas') Las palmas
                option(value='León') León
                option(value='Lleida') Lleida
                option(value='Lugo') Lugo
                option(value='Madrid') Madrid
                option(value='Málaga') Málaga
                option(value='Melilla') Melilla
                option(value='Murcia') Murcia
                option(value='Navarra') Navarra
                option(value='Ourense') Ourense
                option(value='Palencia') Palencia
                option(value='Pontevedra') Pontevedra
                option(value='Salamanca') Salamanca
                option(value='Santa cruz de tenerife') Santa cruz de tenerife
                option(value='Segovia') Segovia
                option(value='Sevilla') Sevilla
                option(value='Soria') Soria
                option(value='Tarragona') Tarragona
                option(value='Teruel') Teruel
                option(value='Toledo') Toledo
                option(value='Valencia') Valencia
                option(value='Valladolid') Valladolid
                option(value='Vizcaya') Vizcaya
                option(value='Zamora') Zamora
                option(value='Zaragoza') Zaragoza
            .form-group.col-md-2
              label.col-form-label(for='inputZip') Código Postal
              input#inputZip.form-control(type='text', name='postalCode')
          .form-row.checkout-last-row
            .form-group.col-md-6.horario-entrega
              label.mr-sm-2.col-form-label(for='inlineFormCustomSelect') Horario de Entrega
              select#delivery-hour.custom-select.mb-2.mr-sm-2.mb-sm-0(name='preferedTimeOfDelivery')
                option(selected='') Seleccione...
                option(value='de 9 hs a 12 hs') de 9 hs a 12 hs
                option(value='de 12 hs a 17 hs') de 12 hs a 17 hs
                option(value='de 17 hs a 21 hs') de 17 hs a 21 hs
            .form-group.col-md-6.medio-pago
              label.mr-sm-2.col-form-label(for='inlineFormCustomSelect') Método de Pago
              select#payment-methods.custom-select.mb-2.mr-sm-2.mb-sm-0(name='paymentMethod')
                option(selected='') Seleccione...
                option(value='Efectivo')
                  i.fa.fa-money
                  | Efectivo
                option(value='Tarjeta')
                  i.fa.fa-credit-card
                  | Tarjeta
                option(value='PayPal') PayPal
          button.btn.btn-lg.btn-block.btn-success.mb-3(type='submit')
            i.fa.fa-check.mx-3
            | Confirmar Compra

