extends ../layout

block content
      .container.jumbotronico
      //- <img src="./img/fake_map.jpg">

      .container.main-content
        .row.products-row
          .productbox
            img(src='./img/aguacate.jpg')
            .producttitle
              a.link-to-detail(href='/product_detail.html') Aguacate
            .productprice
              .add-to-cart
                a.btn.btn-carrito(href='#', role='button')
                    i.fa.fa-shopping-cart(aria-hidden='true')
                    | Agregar al carrito
              .more-info
                a.btn.btn-masinfo.btn-sm(href='#', type='button', data-toggle='modal', data-target='#myModal')
                    i.fa.fa-info
                    | Más Detalles
              .pricetext € 5,70
          .productbox
            img(src='./img/aguacate.jpg')
            .producttitle
              a.link-to-detail(href='/product_detail.html') Aguacate
            .productprice
              .right-side
                .add-to-cart
                  a.btn.btn-carrito(href='#', role='button')
                    i.fa.fa-shopping-cart(aria-hidden='true')
                    | Agregar al carrito
                .more-info
                  a.btn.btn-masinfo.btn-sm(href='#', type='button', data-toggle='modal', data-target='#myModal')
                    i.fa.fa-info
                    | Más Detalles
              .pricetext € 5,70
          .productbox
            img(src='./img/aguacate.jpg')
            .producttitle
              a.link-to-detail(href='/product_detail.html') Aguacate
            .productprice
              .right-side
                .add-to-cart
                  a.btn.btn-carrito(href='#', role='button')
                    i.fa.fa-shopping-cart(aria-hidden='true')
                    | Agregar al carrito
                .more-info
                  a.btn.btn-masinfo.btn-sm(href='#', type='button', data-toggle='modal', data-target='#myModal')
                    i.fa.fa-info
                    | Más Detalles
              .pricetext € 5,70
          .productbox
            img(src='./img/aguacate.jpg')
            .producttitle
              a.link-to-detail(href='/product_detail.html') Aguacate
            .productprice
              .right-side
                .add-to-cart
                  a.btn.btn-carrito(href='#', role='button')
                    i.fa.fa-shopping-cart(aria-hidden='true')
                    | Agregar al carrito
                .more-info
                  a.btn.btn-masinfo.btn-sm(href='#', type='button', data-toggle='modal', data-target='#myModal')
                    i.fa.fa-info
                    | Más Detalles
              .pricetext € 5,70
          .productbox
            img(src='./img/aguacate.jpg')
            .producttitle
              a.link-to-detail(href='/product_detail.html') Aguacate
            .productprice
              .right-side
                .add-to-cart
                  a.btn.btn-carrito(href='#', role='button')
                    i.fa.fa-shopping-cart(aria-hidden='true')
                    | Agregar al carrito
                .more-info
                  a.btn.btn-masinfo.btn-sm(href='#', type='button', data-toggle='modal', data-target='#myModal')
                    i.fa.fa-info
                    | Más Detalles
              .pricetext € 5,70
          .productbox
            img(src='./img/aguacate.jpg')
            .producttitle
              a.link-to-detail(href='/product_detail.html') Aguacate
            .productprice
              .right-side
                .add-to-cart
                  a.btn.btn-carrito(href='#', role='button')
                    i.fa.fa-shopping-cart(aria-hidden='true')
                    | Agregar al carrito
                .more-info
                  a.btn.btn-masinfo.btn-sm(href='#', type='button', data-toggle='modal', data-target='#myModal')
                    i.fa.fa-info
                    | Más Detalles
              .pricetext € 5,70
          .productbox
            img(src='./img/aguacate.jpg')
            .producttitle
              a.link-to-detail(href='/product_detail.html') Aguacate
            .productprice
              .right-side
                .add-to-cart
                  a.btn.btn-carrito(href='#', role='button')
                    i.fa.fa-shopping-cart(aria-hidden='true')
                    | Agregar al carrito
                .more-info
                  a.btn.btn-masinfo.btn-sm(href='#', type='button', data-toggle='modal', data-target='#myModal')
                    i.fa.fa-info
                    | Más Detalles
              .pricetext € 5,70
          .productbox
            img(src='./img/aguacate.jpg')
            .producttitle
              a.link-to-detail(href='/product_detail.html') Aguacate
            .productprice
              .right-side
                .add-to-cart
                  a.btn.btn-carrito(href='#', role='button')
                    i.fa.fa-shopping-cart(aria-hidden='true')
                    | Agregar al carrito
                .more-info
                  a.btn.btn-masinfo.btn-sm(href='#', type='button', data-toggle='modal', data-target='#myModal')
                    i.fa.fa-info
                    | Más Detalles
              .pricetext € 5,70
          .productbox
            img(src='./img/aguacate.jpg')
            .producttitle
              a.link-to-detail(href='/product_detail.html') Aguacate
            .productprice
              .right-side
                .add-to-cart
                  a.btn.btn-carrito(href='#', role='button')
                    i.fa.fa-shopping-cart(aria-hidden='true')
                    | Agregar al carrito
                .more-info
                  a.btn.btn-masinfo(href='#', type='button', data-toggle='modal', data-target='#myModal')
                    i.fa.fa-info
                    | Más Detalles
              .pricetext € 5,70

