extends ../layout

block content
      .container-fluid.text-center.confirmation-header
        .container.d-flex.justify-content-around
          h1 Confirmación de Pedido
          a.btn.btn-outline-light.back-button-confirm(href='/') Inicio
      .container.text-center
        h1.order-correct Su órden ha sido registrada correctamente
        h2.header-order-nbr Este es su Número de Orden: 
          span.order-nbr-span #{orderNbr}
        h3.deliver-delay Será entregada en 24 horas en el horario seleccionado.
        h3.thanks Muchas gracias por su compra.

